@model Employee

<div class="mt-5 alert alert-warning">
    <h3>@ViewBag.Message</h3>
</div>
<div class="mt-5 alert alert-primary">
    <h3>@ViewData["TextMessage"]</h3>
</div>
<div class="mt-5 alert alert-dark">
    <h3>@TempData["TextTempMessage"]</h3>
</div>
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input type="number" asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input type="text" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input type="number" asp-for="Salary" class="form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="HiringDate"></label>
        <input type="date" asp-for="HiringDate" class="form-control" />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>