@model IEnumerable<Employee>
<h1>All Employees</h1>
<br />
<br />

<div class="row jusifiy-content-center align-items-center mt-5">
    <form class="row col-8 offset-2" asp-action="Index">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" placeholder="Search By Name"/>
        </div>
        <div class="col-4">
            <input type="submit" value="search" class="btn btn-success"/>
        </div>
    </form>
</div>